.heroContainer {
    position: relative;
    background-position: center;
    min-height: 400px;
    max-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;

}
.heroImage {
    background: url('/pages/mtb-trips/mtb-trips.jpg');
    filter: brightness(50%);
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

}

.heroContainer> :not(:first-child) {
    z-index: 2;
}


.heroIcon {
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.embadedMap {
    border-radius: var(--border-radius);
    width: 90vw;
    aspect-ratio: 1/1;
}

@media screen and (width > 768px) {
    .embadedMap{
        aspect-ratio: 16/6;
    }

    .overlayMap {
        pointer-events: none;
        filter: brightness(50%);
    }

    .overlay {
        position: relative;
        cursor: pointer;
     }

     .overlay::after{
        position: absolute;
        content: "Click me to move the map";
        bottom: 50%;
        left: 40%;
        color: white;
        font-size: 2rem;
     }
}