/* TODO: Better class names */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.Splah {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/header-splash.svg");
  background-size: contain;
  width: clamp(100px, 15vw, 200px);
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  z-index: 0;
}

.heroContainer {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (width > 768px) {
    grid-template-columns: 1fr 2fr;
  }
  .callToActionRoot {
    gap: 14px;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    max-width: 40ch;
    z-index: 1;
    @media screen and (width > 768px) {
      justify-content: center;
      gap: 28px;
    }

    .callToActionTitle {
      font-family: var(--font-loved-by-the-king);
      font-size: 72px;
      line-height: 68px;
      text-align: center;
      @media screen and (width > 768px) {
        font-size: 104px;
        font-weight: 900;
        line-height: 104px;
      }
      .titleHighlighted {
        color: #52b8e8;
      }
    }
  }
  .heroImage {
    width: 100%;
    aspect-ratio: 4/3;
    position: relative;
    align-self: flex-end;
    @media screen and (width > 768px) {
      height: 100%;
      aspect-ratio: unset;
    }
    .heroImage:first-child {
      object-fit: contain;
      @media screen and (width > 768px) {
        object-position: bottom right;
      }
    }
  }
}

.activitiesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  align-items: center;
  margin: var(--default-vertical-margin) 0px;
  @media screen and (width > 768px) {
    padding: 12px 24px;
    margin: unset;
    justify-content: space-evenly;
    width: 100dvw;
    box-shadow: 0px 2px 12px rgba(195, 195, 195, 0.25);
  }
}

.video {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-bottom: 35px;
  @media screen and (width > 768px) {
    width: min(75vw, 900px);
    aspect-ratio: 16/9;
  }
}

.campTypeContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  @media screen and (width > 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.objectivesContainerRoot {
  background-color: var(--color-background-secondary);
  color: var(--color-foreground-secondary);
  @media screen and (width > 768px) {
    height: 100dvh;
  }
  .objectivesContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 80%;
    @media screen and (width > 768px) {
      height: 100%;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.objectivesContent p {
  max-width: 40ch;
}

.formSection {
  position: relative;
}

@media screen and (width > 768px) {
  .teamContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .characteristicsContainer {
    width: 100%;
    position: relative;
  }

  .benefitsTextContent {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
  }

  .benefitsTextContent > li {
    justify-content: flex-start;
  }

  .benefitsTextContent > li > div {
    align-items: flex-start;
  }

  .benefitsTextContent > li > div > p {
    text-align: left;
  }
}
