.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.hero{
  width: 100%;
}

.heroBanner{
  flex-direction: column;
  margin-bottom: 25px;
  padding-top: var(--padding-top-mobile);
}

.heroContent {
  gap: 14px;
  justify-content: center;
  margin: 0 auto;
  max-width: 40ch;
  z-index: 1;
}

.title {
  position: relative;
  width: 250px;
  aspect-ratio: 2/1;
}

.video{
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-bottom: 35px;
}

.heroImage{ 
  width: 100%;
  aspect-ratio: 4/3;
  position: relative; 
}

.heroImage > img {
   object-fit: 'contain'
}

.contrastSection {
  background-color: #267C58;
  color: #ffffff;
}

.campTypeContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.benefitsContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    align-items: center;
}

.characteristicsImage {
width: 100vw;
aspect-ratio: 1/1;
position: relative;
}

.benefitsTextContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 80%;
}

.formSection{
  position: relative;;
}

.Splah{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/header-splash.svg');
  background-size: contain;
  width: clamp(100px,15vw,200px);
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  z-index: 0;
}
.benefitItem {
  max-width: 200px;
}
.benefitImage{
  width: 200px;
  aspect-ratio: 1/1;
  position: relative;
  border: 5px solid #267C58;
  border-radius: 50%;
}

.benefitImage > img {
  object-fit: contain;
  border-radius: 50%;
} 


@media screen and (width > 768px) {
  .heroBanner{
    flex-direction: row;
    margin-bottom: unset;

  }
  .heroContent {
    flex: 1;
    padding-top: unset;
    align-items: flex-start;
  }

  .heroContent > * {
    text-align: left;
  }

  .benefitsContainer{
  padding: 12px 24px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  box-shadow: 0px 2px 12px rgba(195, 195, 195, 0.25);
  }

  .heroImage{
    width: 50%;
    flex: 0 0 60%;
    aspect-ratio: unset;
    min-height: 600px;
    max-height: 900px;
  }

  .heroImage > img {
    object-fit: contain;
    object-position: right;
 }

 .campTypeContainer{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 }

 .teamContainer {
  flex-direction: row;
  flex-wrap: wrap;
 }
.title{
  width: 400px;
}
 .characteristicsContainer {
  width: 100%;
  position: relative;
 }
.video{
  width: min(75vw, 900px);
  aspect-ratio: 16/9;
}

 .benefitsTextContent{
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  max-width: 100%;
  width: 100%;
  justify-content: space-between;
  padding: 30px;
 }

 .benefitsTextContent > li {
  max-width: min(20vw, 30ch);
  justify-content: flex-start;
 }

 .benefitsTextContent > li > div {
   align-items: flex-start;
 }

 .benefitsTextContent > li > div > p {
  text-align: left;
 }
}
  


