.container {
    background-color: black;
    color: white;
    padding: 24px 16px 10px;
} 


@media screen and (width > 768px) {
    .container{
        padding-left: 71px;
        padding-right: 71px;

    }
}