.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.itemContainer {
    align-items: center;
    gap: 50px;
}

.item{
   align-items: center; 
}

.itemText {
    align-items: flex-start;
}

@media screen and (width > 768px) {
    .itemContainer {
            flex-direction: row;
            justify-content: space-around;
    }
    .item{
        align-self: center;
        flex-direction: row;
        gap: 16px;
    }
  }